$base-color: #587FF1;

$text-default: #4C4C4C;
$text-second: #587FF1;
$text-third : #375DCC;
$text-fourth :#394F92;

$text-grey1: #7B7B7B;
$text-grey2: #818181;
$text-grey3: #AAACAF;

$btn-default: #577FF1;
$btn-secondary: #E9E7E8;
$btn-third : #b2b2b2;
$btn-fourth : #4a71df;

$line-default: #F5F5F5;
$line-secondary: #ebebeb;
$line-bright: #e5e5e5;
$line-blue: #799BFF;
$line-border:#6384E3;
$line-third : #abbff8;

$bg-default: #7B9DFF;
$bg-secondary: #708FEA;
$bg-third: #F2F5FF;

