<div id="popup-company-find" class="modal" tabindex="0" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-body">
            <h3>고객사 검색</h3>
            <div class="search">
              <label>검색</label>
              <input type="text" id="popSearch" class="form-control">
              <button type="button">
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20px" height="20px">
                  <image  x="0px" y="0px" width="20px" height="20px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAASFBMVEVYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/FYf/H////VqTsuAAAAFnRSTlMAEGWryGPsjeGwShnJaO8MqlX9W+43y9K/egAAAAFiS0dEFwvWmI8AAAAHdElNRQfmDAkOBwz4WAdSAAAAiElEQVQY062Q2xKEIAxDgQIWvF82//+pW3dVRBmfzAuZQybQKiXShqwlo1Um5/GTd2daCeEQWI7qlBUYVxPl4shrD67/tmb4vd8AcY9EwGyWwKmQQZuzCAkH2DJunksuT7bFD3b98zjZ8BjG+6o6N2CaE18X21Dbq3HK+KH5Pb7oEl8+qiTJfgGSGQlZrKh4AQAAAABJRU5ErkJggg==" />
                </svg>
              </button>
            </div>
            <span>고객사 회원을 검색하여 사용하세요.</span>
          </div>
          <div class="modal-footer">
            <button data-vo="submit" type="button" class="button button-primary">확인</button>
            <button data-vo="cancel" type="button" class="button button-secondary close">취소</button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-backdrop"></div>
</div>
